@layer theme;

@import 'tailwindcss';
@import '../../node_modules/tailwindcss/theme.css' layer(theme);

@theme {
    --font-script: 'Helvetica Neue', sans-serif;

    --color-main-background: #F3F4F6;
    --color-header-background: #2E2E2E;
    --color-form-background: #FFFFFF;
    --color-card-background: #FAFAFA;
    --color-radio-button-background: #2888E0;
    --color-submit-button-background: #22C55E;
    
    --color-form-title: #000000;
    --color-form-border: #F2F2F2;
    --color-field-name: #27272A;
    --color-field-value: #71717A;
    --color-field-border: #D4D4D8;
    --color-field-arrow: #6C6C6C;
    --color-radio-button-border: #D8D6D6;
    --color-radio-button-text: #2F2F30;
    --color-lock-icon: #7B8091;
    --color-card-section-border: #E2E2E2;
    --color-footer-text: #8C8C8F;

    --breakpoint-mobile: 420px;
}
